.background-image
{
    background-image: url(background1.jpg);
    background-position: center;
    background-size: cover;
}
.spinner-area
{
    display: none;
}
.card-image
{
    height:200px;
    width:80%;
    margin-left:10%;
    margin-top:5%;
}

span{
    color:rgb(107, 99, 99);
    font-size: medium;
    font-weight: lighter;
}
h6{
   color:#26a65b;
   
}
.fas, .fab
{
    width:50px;
}
button{
    width:80px;
    border:none;
}
button:hover{
 background-color: #26a65b;
 
}
.card:hover{
    box-shadow:0px 5px 10px gray;
}
